<div id="content-wrapper" class="mui--text-center">
  <div class="mui-container">
  <table width="100%">
    <tr class="mui--appbar-height">
      <td class="mui--text-title">MadKing</td>
      <td align="right">
        <ul class="mui-list--inline mui--text-body2">
          <li><a href="/production/recon">Recon</a></li>
          <li><a href="/production/disrupt">Disrupt</a></li>
          <li><a href="/production/persist">Persist</a></li>
        </ul>
      </td>
    </tr>
  </table>
</div>
</div>
